<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="my.edu.taruc.easylearn">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/mathicon"

        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Levels"
            android:label="@string/level"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".Chapters"
            android:label="@string/chapter"
            android:parentActivityName=".Levels"/>
        <activity android:name=".Quiz"
            android:label="@string/quiz"
            android:parentActivityName=".Chapters"/>
        <activity android:name=".Learning"
            android:label="@string/learning"
            android:parentActivityName=".Chapters">
        </activity>
    </application>

</manifest>